
/* ************************general***************************** */
html {
    scroll-behavior: smooth;
  }

.container-fluid{
    padding: 0;
}

h1, h3, h4 {
    text-align: center;
    color: azure;
}

h1 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* *********************header section********************************************************************* */
#top-nav {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 999;
    padding-left: 10%;
    /* padding-bottom: 20px; */
    font-family: 'Courier New', Courier, monospace;
}

.navbar-brand {
    font-size: 30px;
}

#collapsibleNavbar a:hover {
    color: green;
    transition: 0.5s;
}

#collapsibleNavbar li {
    margin:0 30px 0 30px;
    font-size: 20px;
}

  /* *************************home section *******************************************************************/

#home {
    background-color: rgb(28, 44, 44);
    margin: auto;
    padding-top: 100px;
    padding-bottom: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: azure;
}

#profile-pic {
    width: 250px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.separator {  
    text-align: center;
    margin-bottom: 50px;
}

.right-line {
    margin-top: 20px;
    float: right;
    border-top: solid 5px azure;
    width: 11vw;
    text-align: center;
    margin-right: 35%;
    vertical-align: middle;
}

.left-line {
    margin-top: 20px;
    float: left;
    border-top: solid 5px azure;
    width: 11vw;
    text-align: center;
    margin-left: 35%;
    vertical-align: middle;
}

.fa-star {
    vertical-align: middle;
    font-size: 25px;
    margin-top: 5px;
}

/**********************************portfolio section**********************************************************/

#port {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 80px;
    width: 80%;
    text-align: center;
}

#port1{
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#port1 h1, #port1 h4 {
    color: black;
}

#port1 h1 {
    font-weight: bold;
}

#port1 .left-line, #port1 .right-line {
    border-top: solid 5px black;
}

.port-gal-img {
    width: 100%;
    display: block;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    transition: all 0.3s ease-in;
    margin: 3px;
    overflow: hidden;
    padding: 5px;

  }
  
  .port-gal-img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  #port .col-lg-4 {
    padding-left: 0;
    padding-right: 5px;
  }
  
  #port .modal-body {
    background-color: white;
    height: auto;
    width: auto;
    border: none;
  }
  
  #imagemodal .modal-content{
    width: 70vw;
    margin: auto; 
    display: block;
    
  }

  .center {
    position: absolute;
    left: 15%;
    top: auto;
  }

  .imagepreview {
      width: 100%;
      max-width: 1000px;
  }

  /* ***********************************about section****************************************************** */

  #about {
      padding-top: 80px;
      background-color: rgb(28, 44, 44);
  }

  #about * {
      color: azure;
  }

  /*********************************contact section**********************************************************/

  #contact {
      padding-top: 80px;
  }

  #contact * {
      color: black;
  }

  #contact .left-line, #contact .right-line {
    border-top: solid 5px black;
}

#contact label {
    font-weight: bold;
    text-indent: 10px;
}

#contact .btn {
    background-color: rgb(41, 43, 44);
    color: azure;
    width: 100px;
    padding: 10px;
}

.form-control {
    background-color: azure;
    margin-bottom: 20px;
}
/* ************************************************footer section*********************************************** */

    #footer {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 80px;
        padding-bottom: 60px;
        margin-top: 80px;
        background-color: rgb(41, 43, 44);
        color: azure;
    }

    #footer h6 {
        margin-top: 0;
        margin-bottom: 0%;
        color: chartreuse;
    }

    #footer p {
        margin-bottom: 15px;
        font-size: 16px;
    }

    #footer iframe {
        width: 100%;
        height: 100%;
    }

    #footer h5 {
        font-weight: normal;
    }

    /* ******************************************my footer************************************************** */

    #footer2 {
        background-color: #040919;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
        font-size: 14px;
    }

    #footer2 .fa {
        font-size: 16px;
        display: inline-block;
        background: #222636;
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 5px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.5s;
    }

    #footer2 .fa:hover {
        color: white;
        background-color: #f82249;
        transition: 0.5s;
    }


  /* ****************************************************media query*************************************** */
  @media only screen and (max-width: 600px) {

    #imagemodal .modal-content{
        width: 90vw;
        margin-top: 20%;
    }
    .center {
        left: 3%;
      }
  }
